@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-img {
  width: 75px;
}

.item-info-panel {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 1.3rem;
  text-wrap: wrap;
  color: grey;
  font-size: 0.9rem;
  font-weight: 600;
  width: fit-content;
  flex: 1;
}

@media (max-width: 768px) {
  .item-info-panel {
    gap: 0.3rem;
    padding: 0.5rem;
  }
}

.benefits-list li {
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  padding: 0.2rem 2rem;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}

input[type="text"] {
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid #e5e5e5;
  width: 100%;
  font-weight: 600;
  font-size: smaller;
}


input[type="text"]::placeholder {
  color: #c9d1db;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 80%;
}

@media (max-width: 768px) {
  .register-form-group {
    width: 100%;
  }
}

label {
  color: dimgray;
}

.how-it-works-item {
    position: relative;
    cursor: default;
}

.how-it-works-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: rgba(255, 217, 0, 0.984);
  transition: width 0.3s ease-in-out;
}

.how-it-works-item:hover::after {
  width: 100%;
}